.width-100{
    width: 100% !important;
    margin-top: -5% !important;
    margin-bottom: 5% !important;
    margin-left: -1% !important;
}

.size-input{
    margin: 1% auto !important;
}

.orange:focus{
    border-color: #f88e2c !important;
}
.text-color-select {
    color: #696161 !important;
}